@import url(http://fonts.googleapis.com/css?family=Wellfleet);
@import url(https://fonts.googleapis.com/css2?family=Handlee&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Pangolin&display=swap);

body {
	background-color: #fecc6f;
	color: #fff;
    font-family: 'Wellfleet',Pangolin,Gloria Hallelujah, Handlee, Wellfleet, serif;
    font-size: 150%;
    margin: 0px 0px 0px 0px;
	}
#teacher {
	float:right;
	margin:0px 30px 0px 0px;
	}

.board{
    background-color: #425a5a;
    border: 25px solid #523620;
    border-radius: 20px;
    padding: 40px 20px;
    height: 370px;
    width: 600px;
    float:center;
    text-align: center;
    color:white;
    overflow-x:hidden;
    overflow-y:auto;
    margin: 70px auto 10px auto;
    }

.arjun{
    font-family: 'cursive';
	background-color:#8D0000;
	color:white;
	border: 3px solid #00608D;
	border-radius:50px;
    width:30%;
    margin-left:35%;
    overflow-x:hidden;
    overflow-y:auto;
    padding:5px;
	letter-spacing: 2px;
}