    body{
    background:white;
    color:green;
    letter-spacing:0.05em;
    font-family: Comic Sans MS, "Arial";
    }
    h1{

    letter-spacing:0.2em;
    }
    h2{
    letter-spacing:0.1em;
    }