    html, body {
        background:white;
        color:black;
        letter-spacing:0.05em;
        font-family: Comic Sans MS, "Arial";
        height: 100%;
    }
    h1 {
        color: rgb(0,225,0);
        letter-spacing:0.2em;

    }
    h2 {
        color: green;
        letter-spacing:0.1em;
    }
    .form {
        text-align: center;
    }
    #form1 {
        float:right;
        border:3px solid red;
        margin:3px 3px 3px 3px;
        padding:3px 3px 3px 3px;
        width:49%;
        height:30%;
        overflow-y:auto;
        overflow-x:hidden;
    }
    #form2 {
            float:left;
            border:3px solid red;
            margin:3px 3px 3px 3px;
            padding:3px 3px 3px 0px;
            width:49%;
            height:30%;
            overflow-y:auto;
            overflow-x:hidden;
        }
    .welcome{
        float:left;
        border:3px solid red;
        margin:3px 3px 3px 3px;
        padding:3px 3px 3px 3px;
        width:15%;
        height:15%;
        overflow-y:auto;



    }