        body{
            width:70%;
            font-family:"Comic Sans MS";
            background: #F7F7F7;
         }

          .headings {
            color:teal;
            font-family: cursive;
            text-transform: capitalize;
         }
          .main-headings{
             text-shadow:2px 2px 3px #666666;
             text-transform:uppercase;
             font-family:Georgia;
             color:#0088dd;
             text-align: center;
             line-height:0.5;
          }

        .penguin-baby {
             width: 150px;
             float: left;
             margin-right: 6px;
             margin-bottom: 6px;
             border:2px double coral;
             border-radius:15px;

         }

         .penguin-swimming {
              width: 150px;
              float: left;
              margin-right: 6px;
              margin-bottom: 6px;
              border:2px double coral;
              border-radius:15px;

         }

         .wings{
           width: 200px;
           float: right;
           margin-right: 6px;
           margin-bottom: 6px;
         }

         .life-cycle{
              width: 150px;
              float: left;
              margin-right: 6px;
              margin-bottom: 6px;



         }
         #headings{
         }

         .gallery{
            width: 500px;
            border: none;
            float:center;
         }

         .info-tabs{
            top:200px;
          }